body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    padding: 40px;
    border-radius: 20px;
    width: 750px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

button {
    margin-top: 25px;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: #00f2fe;
    background: linear-gradient(to right, #00f2fe, #4facfe);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.result {
    margin-top: 25px;
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
}